# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

## Some of the popular languages that Data Scientists use are:
1. Python          
2. SQL            
3. R                
4. Java

**Objectives:**    
+ R
+ SQL
+ Java
+ Scala

## Some of the commonly used libraries used by Data Scientists include:
1. Matplotlib          
2. Numpy             
3. Tensorflow           
4. Scipy

| Data Science Tools              |
| -----------------            |     
| Jupyter Notebook         |
| RStudio                |
| Visual Studio Code           |

### Below are a few examples of evaluating arithmetic expressions in Python.
eg.  
1. 2+4 = 6
2. 3*3 = 9
3. 60/5 = 12

In [18]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
#  This will convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335

__Objectives__                 
+ list of popular  languages in Data Scientists          
+ list of popular libraries in Data Scientists                
+ table in Data Science tools

## Author
patum kaushalya